# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=
DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Docker networking
INTERNAL_URL=web:8000
EXTERNAL_URL=127.0.0.1:8000
WEB_PORT=8000

# Django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# JWT
SECRET_KEY=

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

BASE_URL=

# oauth.yandex.ru 
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REDIRECT_URI=http://127.0.0.1:8000/api/v1/auth/social/complete/yandex-oauth2/

SENTRY_DSN=